html {
	font-family: sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: ​georgia, serif;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #000;
	background-color: #dfdfdf;
	border: 3px solid #dfdfdf; 
}

body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 100%;
	max-height: 100%;
	margin-left: 0px;
	margin-right: 0;
	overflow-x: hidden;
}

header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	margin-top: -10px;	
	background-color: #f3f3f3;
}

header p {
	color: orange;
	padding-left: 15px;
	font-size: 18px;
}

nav {
	float: right;
	padding-left: 1030px;
	/*margin-top: -30px;*/
	margin-top: -30px;
	font-size: 10px;
}

nav a {
	align-items: stretch;
	justify-content: space-between;
	padding: 5px;
	border-radius: 5px;
}

main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	padding-left: 200px;
	padding-top: 30px;
}

main .content{
	width: 75%;
	padding-left: 0px;
}

.content h2 {
	margin-bottom: -10px;
}

.content p {
	font-size: 14px;
}


main nav .navigation-1 {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-left: -640px;
	font-size: 13px;
	margin-top: 30px;
	margin-bottom: -10px;
}

main nav .navigation-2 {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 13px;
	margin-top: 30px;
	padding-left: 10px;
	margin-bottom: -10px;
}

form {
	color: #999;
}

input {
	padding-right: 150px;
	border-color: #ddd;
	border-radius: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.label-childs {
	padding-top: 15px; 
	padding-bottom: 15px;
}

table, td {
    border: 1px solid #f3f3f3;
    border-collapse: collapse;
}

table {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 80%;
	float: center;
}

th {
	background-color: #f3f3f3;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
}

th:nth-child(1) {
	padding-right: 500px;
}

th:nth-child(2) {
	padding-right: 250px;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 80%;
	padding-top: 20px;
	margin-top: -20px;
}

.container input {
	width: 82%;
}

.container label {
	padding-top: 10px;
	padding-bottom: 10px;
}

.container button {
	margin-top: 10px;
	margin-bottom: -20px;
}

.content-1 {
	width: 95%;
	font-size: 12px;
}


footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	color: #999;
	border-top-color: #f3f3f3;
	padding-top: 40px;
}

footer p {
	padding-left: 620px;
	margin-top: 0px;
	font-size: 16px;
}

footer nav {
	margin-left: -490px;
	font-size: 14px;
	margin-top: -5px;
}

footer nav a {
	color: #ccc;
}


